{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
        {% if article %}
            <h1>{{ article.title }}</h1>
            <small>Posted by: {{ article.author }} Posted on: {{ article.posted_on }}</small>
            {{ article.body | safe }}
        {% endif %}
    </section>
{% endblock %}
{% block script %}{% endblock %}