{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
    <h1>Articles</h1>
    <ul class="list-group">
        {% for article in articles %}
            <li class="list-group-item"><a href="/article/{{ article.id }}">{{ article.title }}</a></li>
        {% endfor %}

    </ul>
    </section>
{% endblock %}
{% block script %}{% endblock %}