{% extends 'base.html' %}
{% block title %}Create a post{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="container">
    <h1>Dashboard <small>Welcome, {{ session['username'] }}</small><span class="float-right">Create a new post</span></h1>
        {% from "include/_formhelpers.html" import render_field %}
        <form action="" method="POST">
            <div class="form-group">
                {{render_field(form.title, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.body, class_="form-control", id="editor")}}
            </div>
            <p><button class="btn btn-primary">Publish</button></p>
        </form>
    </section>
{% endblock %}
{% block script %}
    <script>
    CKEDITOR.replace('editor')
    </script>
{% endblock %}