{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
    <h1>Dashboard <small>Welcome, {{ session['username'] }}</small><span class="add-post"><a href="/create" class="btn btn-primary float-right">+Add</a></span></h1>

    <div class="posts">
        {% if data %}
            <table class="table table-striped">
                <thead>
                    <tr><td>Post</td><td style="float: right;">Action</td></tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                        <td><a href="/article/{{ d.id }}">{{ d.title }}</a></td>
                        <td style="float: right;"><a href="/article/{{ d.id }}/edit" class="btn btn-success">Edit</a>| <a href="" class="btn btn-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    </section>
{% endblock %}
{% block script %}{% endblock %}