{% extends 'base.html' %}
{% block title %}Welcom to my Flask Blog{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>
    </section>
{% endblock %}
{% block script %}{% endblock %}