{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
    <h1>Login</h1>
        <form action="" method="POST">
            <div class="form-group"><label for="username">username</label>
            <input type="text" name="username" class="form-control" id="username" autofocus value="{{request.form.username}}"></div>

            <div class="form-group"><label for="password">password</label>
            <input type="password" name="password" class="form-control" id="password" value={{request.form.password}}></div>
            <p>
                <button class="btn btn-success">Login</button></p>
        </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}