{% extends 'base.html' %}
{% block stylesheet %}{% endblock %}
{% block content %}
    <section class="jmbtn container">
    <h1>Register</h1>
  {% from "include/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.name, class_="form-control", placeholder="Type your name")}}
    </div>
    <div class="form-group">
      {{render_field(form.email, class_="form-control", placeholder="Type your email")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class_="form-control", placeholder="Type your username")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class_="form-control", placeholder="Type your password")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control", placeholder="Re-enter password")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}